* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

header {
    grid-column: 1/-1;
    background-color: #ff7f00;
    width: 100%;
    height: 70px;
}

.right-side {
    float: right;
    margin-right: 3.125em;
    margin-top: 25px;
}

.right-side a {
    margin-left: 1.5625em;
    text-decoration: none;
}

.logo {
    float: left;
    margin-left: 3.125em;
    margin-top: 25px;
}

a.active {
    text-align: center;
    color: var(--midnight);
}

a {
    text-align: center;
    color: #ffffff;
}

#search {
    font: inherit;
    color: #7a7a7a;
    border: none;
}

.search-bar {
    border-bottom-width: initial;
    border-bottom-style: groove;
    border-bottom-color: #040a2c;
    display: inline-block;
}

.search-field {
    padding-top: 1.5625em;
    padding-bottom: 1.5625em;
    padding-left: 3.125em;
    padding-right: 3.125em;
}

.search-bar label img {
    object-fit: contain;
    height: 1em;
}

.more-search {
    float: right;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 22px;
    background-color: #e3e3e3;
    justify-items: center;
    padding: 1.5625em;
}

.gallery-container img {
    width: 250px;
    height: 250px;
}

h6 {
    display: block;
    font: inherit;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: none;
    margin-inline-end: none;
}

canvas {
    /* margin: 20px; */
    border: 1px solid black;
    cursor: crosshair;
}

.editor-page {
    background-color: #e3e3e3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
    /* grid-row-gap: 22px; */
    justify-items: center;
    padding: 1.5625em;
}

.control-box {
    display: inline-block;
    padding-left: 3.125em;
    padding-right: 3.125em;
}

#line-txt {
    width: 100%;
    height: 3.125em;
    display: block;
    appearance: none;
    border:none;
    text-align: center;
    border-radius: 12px;
    background-color: #ffffff;
}