* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: pink;
    height: 70px;
}

header {
    background-color: #ff7f00;
    height: 70px;
}

.right-side {
    float: right;
    margin-right: 3.125em;
    margin-top: 25px;
}

.right-side a {
    margin-left: 1.5625em;
    text-decoration: none;
}

.logo {
    float: left;
    margin-left: 3.125em;
    margin-top: 25px;
}

a.active {
    text-align: center;
    color: var(--midnight);
}

a {
    text-align: center;
    color: #ffffff;
}

#search {
    font: inherit;
    color: #7a7a7a;
    border: none;
}

.search-bar {
    border-bottom-width: initial;
    border-bottom-style: groove;
    border-bottom-color: #040a2c;
    display: inline-block;
}

.search-field {
    padding-top: 1.5625em;
    padding-bottom: 1.5625em;
    padding-left: 3.125em;
    padding-right: 3.125em;
}

.search-bar label img {
    object-fit: contain;
    height: 1em;
}

.more-search {
    float: right;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #e3e3e3;
    padding: 1.5625em;
    justify-content: center;
}

.gallery-container img {
    width: 250px;
    height: 250px;
    padding: 0.78125em;
}

h6 {
    display: block;
    font: inherit;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: none;
    margin-inline-end: none;
}

.editor-page {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e3e3e3;
}

canvas {
    margin: 1.5625em;
    border: 1px solid black;
    cursor: crosshair;
}

.control-box {
    display: inline-block;
    margin: 1.5625em;
}

#line-txt {
    height: 3.125em;
    appearance: none;
    border: none;
    text-align: center;
    border-radius: 12px;
    background-color: #ffffff;
}

.gallery-page {
    /* flex-grow: 1; */
}